/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'); */

:root {
  /* GREYS */
  --dark-4: #252727;
  --dark-3: #292b2b;
  --dark-2: #303232;
  --dark-1: #383939;
  --grey-4: #474848;
  --grey-3: #515252;
  --grey-2: #656767;
  --grey-1: #eaeaea7c;
  --light-2: #bebebe;
  --light-1: #e7e7e7;

  /* DARK COLORS */
  --dark-blue: #0f1e2e;
  --dark-green: #001f29;

  /* COLORS */
  --blue: #59829e;
  --green: #00303d;
  --red: #772e25;
  --orange: #8f5c33;
  --yellow: #a08228;

  /* LIGHT COLORS */
  --light-blue: rgba(89, 130, 158, 0.65);
  --light-green: #2a9d8f;
  --light-red: #d03b3b;
  --muted-light-green: rgba(42, 157, 143, 0.5);

  /* MUTED COLORS */
  --muted-blue: rgba(89, 130, 158, 0.5);
  --muted-green: rgba(0, 48, 61, 0.3);
  --muted-red: rgba(119, 46, 37, 0.5);
  --muted-orange: rgba(143, 92, 51, 0.5);
  --muted-yellow: rgba(233, 196, 106, 0.5);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background-color: var(--dark-2);
}

/*** MAIN DIV ***/
.container {
  margin: 0 auto;
  padding: 0 0px;
  width: 100%;
  max-width: 768px;
  text-align: center;
}

h1 {
  font-weight: 500;
}

h2,
h3 {
  font-weight: 300;
}

a,
button.logout-btn {
  text-decoration: none;
  color: var(--blue);
}

button.logout-btn {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

/*** NAV ***/

.nav-logo {
  margin-bottom: -2px;
  font-weight: 800;
  font-size: 2.1rem;
  font-family: monospace;
  color: var(--grey-2);
}

.nav-logo .icon {
  font-size: 2.2rem;
  margin-right: 10px;
}

.icon {
  vertical-align: middle;
}

.btn-icon {
  font-size: 1.4rem;
  vertical-align: middle;
}

.nav {
  margin-bottom: 30px;
  padding: 10px 5% 20px 10%;
  background-color: var(--dark-4);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a,
.nav ul li button.logout-btn {
  display: flex;
  align-items: center;
}

.nav ul li a:hover,
.nav ul li button:hover {
  color: var(--grey-2);
  cursor: pointer;
}

.nav ul li a svg,
.nav ul li button.logout-btn svg {
  margin-right: 5px;
}

/*** HEADING ***/

.heading {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--grey-3);
}

.heading h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.heading p {
  color: inherit;
  opacity: 0.65;
}

/*** BOXES ***/

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.boxes div {
  padding: 30px;
  border: 1px solid var(--light-1);
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: var(--grey-2);
}

/***  FORMS  ***/

select.form-control {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='cornflowerblue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
  appearance: none;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-control {
  padding: 10px;
  border: 1px solid var(--grey-4);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  color: var(--blue);
  background-color: var(--dark-3);
}

.form-group label {
  /* display: block; */
  margin: 0 0 5px 3px;
  font-size: 1.2rem;
  color: var(--grey-2);
  text-align: left;
}

.form-control::placeholder {
  color: var(--blue);
  opacity: 0.65;
}

.form-control:focus {
  outline: none;
  border: 1px var(--blue) solid;
}

.form-disabled {
  color: var(--muted-blue) !important;
}

/***  BUTTONS  ***/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  /* text-align: center; */
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  /* appearance: button; */
}

/* btn icons */
.btn-sm svg {
  margin-right: 8px;
}

.btn-block svg {
  margin: 0 8px;
}

/* btn sizes */
.btn-sm {
  width: 15vh;
  padding: 5px 10px 5px 5px;
  font-size: 14px;
  font-weight: 500;
}

.btn-md {
  width: 30vh;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
}

.btn-lg {
  width: 60vh;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 800;
}

/* btn colors */
.btn-dark {
  color: var(--grey-2);
  background-color: var(--dark-4);
  border: 1.8px solid var(--dark-4);
}

.btn-dark-blue {
  color: var(--blue);
  background-color: var(--dark-4);
  border: 1.8px solid var(--dark-4);
}

.btn-dark-orange {
  color: var(--orange);
  background-color: var(--dark-4);
  border: 1.8px solid var(--dark-4);
}

.btn-dark-outline-blue {
  color: var(--blue);
  background-color: var(--dark-4);
  border: 1.8px solid var(--blue);
}

.btn-dark-outline-orange {
  color: var(--orange);
  background-color: var(--dark-1);
  border: 2px solid var(--muted-orange);
  font-size: 16px;
}

.btn-light-outline-blue {
  color: var(--blue);
  background-color: var(--dark-1);
  border: 2px solid var(--muted-blue);
  font-size: 16px;
}

.btn-light-outline-orange {
  color: var(--orange);
  background-color: var(--dark-1);
  border: 1.8px solid var(--muted-orange);
  font-size: 16px;
}

.btn-blue {
  color: var(--dark-2);
  background-color: var(--muted-blue);
  border-color: var(--grey-3);
  border-width: 0;
}

.btn-outline-blue {
  color: var(--blue);
  background-color: transparent;
  border: 2px solid var(--blue);
}

.btn-outline-green {
  color: var(--light-green);
  background-color: transparent;
  border: 2px solid var(--light-green);
}

.btn-outline-red {
  color: var(--light-red);
  background-color: transparent;
  border: 2px solid var(--light-red);
}

.btn-outline-orange {
  color: var(--orange);
  background-color: transparent;
  border: 2px solid var(--orange);
}

.btn-outline-yellow {
  color: var(--yellow);
  background-color: transparent;
  border-color: var(--yellow);
  border-width: 2px;
}

.btn-inverse-blue {
  color: var(--dark-4);
  background-color: rgba(89, 130, 158, 0.5);
  border-color: var(--dark-3);
  border-width: 1.8px;
}

.btn-inverse-orange {
  color: var(--dark-4);
  background-color: var(--orange);
  border-color: var(--dark-3);
  border-width: 1.8px;
}

.btn-inverse-red {
  color: var(--dark-4);
  background-color: var(--red);
  border-color: var(--red);
  border-width: 1.8px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: var(--dark-4);
  background: none;
  border: none;
  cursor: pointer;
}

.btn-close:hover {
  color: var(--light-red);
  transform: scale(0.98);
}

/*** TICKETS ***/

.tickets-headings,
.ticket-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tickets-headings {
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma sans-serif;
  font-stretch: ultra-expanded;
}

.status {
  justify-self: center;
  padding: 3px 20px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
}

.status-open {
  /* color: var(--light;
  background-color: var(--muted-yellow);
  border: thin var(--grey-1) solid;
  opacity: 0.9; */

  /* outline option */
  color: var(--yellow);
  background-color: transparent;
  border: 2px solid var(--yellow);
}

.status-pending {
  /* color: var(--light;
  background-color: var(--muted-light-green);
  border: thin var(--grey-1) solid;
  opacity: 0.9; */
  /* outline option */
  color: var(--light-green);
  background-color: transparent;
  border: 2px solid var(--light-green);
}

.status-closed {
  /* color: var(--light;
  background-color: var(--red);
  border: thin var(--grey-1) solid;
  opacity: 0.9; */
  /* outline option */
  color: var(--light-red);
  background-color: transparent;
  border: 2px solid var(--light-red);
}

.ticket-item-date {
  color: var(--grey-1);
}

.ticket-item-platform {
  color: var(--grey-2);
}

.ticket-item-issue {
  color: var(--blue);
}

p.status-in-progress {
  color: var(--orange);
}

p.status-waiting {
  color: var(--light-red);
}

p.status-ready {
  color: var(--blue);
}

p.status-complete {
  color: var(--light-green);
}

.ticket-page {
  position: relative;
  text-align: left;
}

.ticket-page h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-page .btn {
  margin-bottom: 30px;
}

.ticket-page .btn-block {
  margin-top: 30px;
  width: 100%;
}

.ticket-heading {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font: Verdana, Geneva, Tahoma sans-serif;
  font-stretch: ultra-expanded;
}

.ticket-desc {
  text-align: left;
}

.ticket-created {
  border: 1px solid var(--light-1);
  border-radius: 5px;
  padding: 50px;
}

.ticket-updated {
  border: 1px solid var(--light-1);
  border-radius: 5px;
  padding: 50px;
}

.ticket-number {
  margin-bottom: 30px;
}

.ticket-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.ticket-number p {
  font-size: 1.3rem;
}

.ticket-info {
  display: flex;
  justify-content: space-between;
  
}

/*** NOTES ***/

.note {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  border: 1px solid var(--light-1);
  border-radius: 5px;
}

.note-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 20px;
  background-color: var(--light-1);
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: var(--light-red);
  cursor: pointer;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

/*** SPINNER ***/

.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--dark-4) transparent var(--grey-2) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .nav-container {
    padding: 5px 0;
  }
  .logo {
    font-size: 1.8rem;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
  .form {
    width: 90%;
  }
  .ticket-created h2,
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }
}
